<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleLogIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.367456501980-0q2f57km1jtcrptfahthbq4d3g57gklj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>367456501980-0q2f57km1jtcrptfahthbq4d3g57gklj.apps.googleusercontent.com</string>
</dict>
</plist>
